*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#03045e,#00b4d8) no-repeat center/cover;
    height: max-content;
    overflow-x: hidden;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    margin-bottom: 20px;
    padding: 5px;
}
header ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 5px;
}
.secform{
    display: flex;
}
header ul li{
    padding: 10px;
}
header ul li a{
    padding: 10px;
    text-decoration: none;
    font-size: 22px;
    color: black;
    transition: all 0.4s ease-in-out;
}
header ul li a:hover{
    background-color: #03045e;
    border-radius: 8px;
    text-decoration: underline;
    color: aliceblue;
}
.mainSection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px;
    border: 2px solid aliceblue;
    padding: 80px;
    flex-wrap: wrap;
    height: max-content;
    border-radius: 20px;
    -webkit-background-filter: blur(20px);;
    box-shadow: 0px 0px 30px 3px black;
    background: linear-gradient(#03045e,#00b4d8);
    
}
.selectBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 4px solid aliceblue;
    padding: 30px;
    margin: 5px;
    color: aliceblue;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
    width: 250px;
    height: 250px;
    
}
.selectBox:hover{
    border-radius: 30px;
    background-color: aliceblue;
    color: black;
    box-shadow: 0px 0px 30px 3px black;
    

}
a{
    text-decoration: none;
}
.selectBox h1{
    text-decoration: underline;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}
.description{
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    display: none;
    
}
.fa-solid{
    font-size: 50px;
    margin: 10px;

}
/* new file */

#mainheading{
    text-align: center;
    font-size: 70px;
    color: aliceblue;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px black;
    border-top: 4px solid aliceblue;
    border-bottom: 4px solid aliceblue;
    backdrop-filter: blur(5px);
    padding: 20px;
    margin: 10px;
    letter-spacing: 4px;
    
}
.mainheading3{
    color: aliceblue;
    text-shadow: 0px 0px 10px black;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

.inp{
    padding: 10px;
    width: 250px;
    border-radius: 20px;
    margin: 5px;
    border: 2px solid #ffff;
    border: 1px solid black;
    text-align: center;
}

.btn{
    width: 90px;
    border: 2px solid aliceblue;
    padding: 10px;
    border-radius: 5px ;
    color: black;
    font-weight: 400;
    cursor: pointer;
    background: #00b4d8;


}
.btn:hover{
    border:2px solid black;
    border-radius: 20px ;
    color: aliceblue;
    width: 200px;
    background-color: #0077b6;
    transition: all 0.3s ease-in;
    text-transform: uppercase;

}
.mainheading2{
    text-align: center;
    font-size: 45px;
    color: black;
    border: 2px solid aliceblue;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 40px;
    margin: 50px;
    text-decoration: underline;
    /* background: linear-gradient(#09187d,#0077b6,#87b3cb); */
    background-color: aliceblue;
    box-shadow: inset 0px 0px 15px black;
    
}

.main{
   
    flex-direction: column;
    justify-content: space-around;
    display:none;
    flex-direction: column;
    background: linear-gradient(#03045e,#00b4d8);
    border-radius: 20px;
    -webkit-background-filter: blur(20px);;
    box-shadow: 0px 0px 30px 3px black;
    margin: 20px;
    padding: 40px;
    border: 2px solid white;

}

.timingBox{
    display: flex;
    border-radius: 10px;
    border: 4px solid aliceblue;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    margin-bottom: 5px;
    margin-top: 10px;
    border-radius: 20px;
    background: linear-gradient(#03045e,#00b4d8);
    box-shadow: 0px 0px 30px 3px black;
}

.times{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    backdrop-filter: blur(8px);
    text-shadow: 0px 0px 15px #000;
    box-shadow:  0px 0px 12px 1px black ;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin: 5px;
    width: 180px;
    border: 2px solid aliceblue;
    cursor: pointer;
    
}
.times:hover{
    color: black;
    text-shadow: 0px 0px 65px #000;
}
.times::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
    border-radius: 20px;
  }
  
  .times:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
    border-radius: 18px;
  }
  
  .times::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #fff;
    z-index: -1;
    transition: transform .5s ease;
    border-radius: 19px;
  }

.prayerName{
    text-decoration: underline;
    font-size: 40px;
    margin-bottom: 10px;
}
.times1{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 80px;
    border: 2px solid aliceblue;
    border-radius: 20px;
    -webkit-background-filter: blur(20px);;
    box-shadow: 0px 0px 30px 3px black;
    background: linear-gradient(#03045e,#00b4d8);
}#form2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 80px;
    border: 2px solid aliceblue;
    border-radius: 20px;
    -webkit-background-filter: blur(20px);;
    box-shadow: 0px 0px 30px 3px black;
    background: linear-gradient(#03045e,#00b4d8);
}






#table_for_calendar {
    margin: 10px auto;
    background:(#03045e)
}

#table_for_calendar :hover {
    background-color: #0000;
    border: 1px solid #fff;
    transition: 0.5s;
}


#table_for_calendar td {
    border: 2px solid aliceblue;
    border-radius: 10px;
    padding: 6px;
    text-align: center;
    background-color: #12537b;
    color: #fff;
    font-size: bold;
}

#table_for_calendar thead th {
    border: 1px solid aliceblue;
    border-radius: 10px;
    padding: 15px;
    font-size: larger;
    font-style: italic;
    font-weight: bolder;
    background-color: #000;
    color: #fff;
}

#thirddiv {
    /* border: 1px solid aliceblue; */
    margin: 0% 8% 0% 5%;
    width: 90%;
}

#heading {
    text-align: center;
    color: black;
    background-color: #00b4d8;
    padding: 5px;
}

#heading th {
    border: 1px solid black;
    color: aliceblue;
    font-size: 15px;
    border-radius: 10px;
    padding: 7px;
}



#calendar {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: #03045e;
    color: black;
}

#calendar{
    margin: 10px auto;
}
#heading:hover {
    color: black;
    background-color: #87b3cb;
    border: 1px solid #03045e;
    transition: 0.5s;
}


#main2{
    display: none;
    margin: 20px;
    border: 4px solid aliceblue;
    border-radius: 20px;
    -webkit-background-filter: blur(20px);;
    box-shadow: 0px 0px 30px 3px black;
    background: linear-gradient(#03045e,#00b4d8);
}
.selectBox2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px;
    margin: 20px;
    height: max-content;
    border: 4px solid aliceblue;
    color: aliceblue;
    border-radius: 20px;
    -webkit-background-filter: blur(20px);;
    box-shadow: 0px 0px 30px 3px black;
    background: linear-gradient(#03045e,#00b4d8);
}

.double{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 50px;
}
.message{
    border: 6px solid aliceblue;
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px black;
}.message1{
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    
}
.fa-message{
    font-size: 200px;
    color: aliceblue;
    text-shadow: 0px 0px 30px black;
}
.align{
    display: flex;
    flex-direction: column;
    margin: 10px;
}





.features2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
     height: max-content;
     background-color: black;
     padding: 50px;
     box-shadow: inset 0px 0px 10px  white;
 
 
     
  }
  table{
     color: white;
     border-collapse: separate;
     border-spacing: 40px 11px;
     display: inline;
     font-size: 16px;
     
 
    
 }
 td>a{
     text-decoration: none;
     color: white;
 }
 .icons{
     cursor: pointer;
 }
 th{
     font-size: 25px;
     text-decoration: underline;
 
 }
 .fa-magnifying-glass{
     font-size: 20px;
     cursor: pointer;
 }

 #search{
     display: none;
 }

 @media screen and (max-width:1700px){

    #table_for_calendar td { 
        padding: 6px;
    }
    
    #table_for_calendar thead th {
        padding: 12px;
    }
    
    #heading {
        padding: 4px;
    }
    
    #heading th {
        font-size: 12px;
        padding: 4px;
    }
    
    
    
    #calendar {
       
        padding: 5px;
        
    }
    
    #calendar{
        margin: 0px;
    }
   

 }@media screen and (max-width:1260px){
 
    table{
        font-size: 10px;
    }

}

 @media screen and (max-width:840px){
    header ul li{
        padding: 5px;
    }
    header ul li a{
        padding: 5px;
        font-size: 15px;
        
    }
    .mainheading2{
        font-size: 30px;
    }
    .selectBox{
        width: 200px;
        height: 200px;
    }
    .fa-message {
        font-size: 150px;
    }
    .message{
        padding: 20px;
        font-size: 13px;
    }
    .selectBox2{
        flex-direction: column;
    }
    .inp{
        width: 180px;
    }
    th,td{
        font-size: 15px;
        text-align: left;
    }
    
 }

 @media screen and (max-width:360px){

    .mainheading2{
        font-size: 20px;
    }
    .mainheading3{
        font-size: 17px;
    }
    .selectBox{
        width: 120px;
        height: 120px;
    }
    .btn{
        width: 70px;
        padding: 7px;
    }
    .fa-message {
        font-size: 150px;
    }
    .message{
        padding: 20px;
        font-size: 13px;
    }
    .selectBox2{
        flex-direction: column;
    }
    .inp{
        width: 120px;
        font-size: 12px;
    }
    th,td{
        font-size: 10px;
        text-align: left;
    }
 
 }